<!DOCTYPE html>
<html lang="en">
<head>
	{{>headerlinks}}
</head>
<body>

	<!-- Navbar -->

{{>navbar}}
	
<!-- main header -->

	<div class="container-fluid main_header">
		<div class="row">
			<div class="col-md-10 col-12 mx-auto">
				<div class="row">
					<!-- left side div -->
					<div class="col-md-6 col-12 main_header_right">
						<figure>
							<img src="images/about.png" alt="Shivam's Image" class="img-fluid" title="Shivam">
						</figure>
					</div>
					<!-- right side div -->
					<div class="col-md-6 col-12 main_header_left">
						<p class="text-capitalize">Welcome to the tech world</p>
						<h1 class="text-capitalize">I am currently learning<span class="text_color">MERN Stack Development</span> this is my first project</h1>
						<a href="https://github.com/virtualshivam" target="_shivamgit"><button class="text-uppercase">About me</button></a>
					</div>					
				</div>
			</div>
		</div>
	</div>

<!-- footer -->
{{>footer}}

<!-- Bootstrap Scripts file	 -->

</body>
</html>